.footer {
  padding: 8px 16px;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.22), 0 -2px 2px rgba(0, 0, 0, 0.34),
    0 -4px 4px rgba(0, 0, 0, 0.28), 0 -8px 8px rgba(0, 0, 0, 0.22);
}

.footerImgText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.imgFooter {
  width: 50px;
  height: 50px;
}

.footerText {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.privacyLink {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  transition: color 0.5s ease;
}

.privacyLink:hover {
  color: gray;
}

.formCont {
  background-color: transparent;
  padding: 8px;
  margin-bottom: 10px;
}

.formTitle {
  text-align: center;
  font-size: 15px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.formTitle:hover {
  color: gray;
}

.accordionContent {
  max-height: 0;
  overflow: hidden;
  transition: max-heigth 0.5s ease-out, padding 0.5s ease-out;
}

.accordionContent.open {
  max-height: 300px;
  padding: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.input {
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid;
  border-radius: 8px;
  padding: 8px;
  transition: border-color 0.5s ease;
}

.textarea {
  height: 60px;
  resize: none;
  margin-bottom: 10px;
}

.input:hover {
  border-color: gray;
}

.input:focus {
  outline: none;
}

.inputBtn {
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: color 0.5s ease;
}

.inputBtn:hover {
  color: gray;
}

.footerLinksCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footerLink {
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.22), 0 2px 2px rgba(0, 0, 0, 0.34),
    0 4px 4px rgba(0, 0, 0, 0.28), 0 8px 8px rgba(0, 0, 0, 0.22);
  transition: transform 0.5s ease, box-shadow 0.5s ease, color 0.5s ease;
}

.footerLink:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.3),
    0 8px 16px rgba(0, 0, 0, 0.22), 0 16px 32px rgba(0, 0, 0, 0.15);
  color: gray;
}

.footerIcon {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    gap: 5px;
  }

  .footerImgText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footerText {
    text-align: start;
  }

  .footerLinksCont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footerImgText {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footerLinksCont {
    display: flex;
    flex-direction: row;
  }
}
